@font-face {
  font-family: "iconfont"; /* Project id 3220354 */
  src: url('//at.alicdn.com/t/font_3220354_qlkpetb8kd.woff2?t=1647942795220') format('woff2'),
       url('//at.alicdn.com/t/font_3220354_qlkpetb8kd.woff?t=1647942795220') format('woff'),
       url('//at.alicdn.com/t/font_3220354_qlkpetb8kd.ttf?t=1647942795220') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e64e";
}

.icon-yanzhengma:before {
  content: "\e634";
}

.icon-zhanghao:before {
  content: "\e655";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-geren:before {
  content: "\e706";
}

.icon-shouqicaidan:before {
  content: "\e623";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-shouye-shouye:before {
  content: "\e61a";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-xiangshang_jiantou:before {
  content: "\e63f";
}

.icon-xiangxiajiantou1:before {
  content: "\e640";
}

.icon-bingli1:before {
  content: "\e678";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-liangdu:before {
  content: "\e63a";
}

.icon-celiang:before {
  content: "\e604";
}

.icon-a-zujian761:before {
  content: "\e617";
}

.icon-a-zujian791:before {
  content: "\e618";
}

.icon-a-zujian751:before {
  content: "\e61e";
}

.icon-a-zujian771:before {
  content: "\e622";
}

.icon-a-zujian781:before {
  content: "\e627";
}

.icon-a-zujian8211:before {
  content: "\e629";
}

.icon-a-zujian8311:before {
  content: "\e62a";
}

.icon-jingxiang:before {
  content: "\e645";
}

.icon-juxingxuanze:before {
  content: "\e6ed";
}

.icon-sudu:before {
  content: "\e619";
}

.icon-gangbi:before {
  content: "\e625";
}

.icon-jurassic_data-cross:before {
  content: "\e68b";
}

.icon-jurassic_nishiz-angle:before {
  content: "\e70a";
}

.icon-move:before {
  content: "\e616";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-radiobuttonselect:before {
  content: "\e6ee";
}

.icon-xuanzhuanjiaodu:before {
  content: "\ec5b";
}

.icon-xinshuai:before {
  content: "\e6e1";
}

.icon-quanshenjing:before {
  content: "\e639";
}

.icon-gudingchangduhuizhixian:before {
  content: "\edda";
}

.icon-suofang:before {
  content: "\edf4";
}

.icon-xietuoyuan:before {
  content: "\edf8";
}

.icon-biaojidian:before {
  content: "\e7c6";
}
